@import url('https://fonts.googleapis.com/css?family=Roboto:100');
div{
  background: #7E57C2 bottom no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 150px 20px 10px;
  margin-bottom: 20px;
}
h1{
  font-size: 60px;
  font-weight: 200;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  div {
    text-align: center;
  }
}
