<div class="bg"></div>
<div class="splash">
  <h2>Hello.</h2>
  <div class="splash-text">
    <p>I'm Asher</p>
    <a md-button routerLink="/about">Who?</a>
  </div>
</div>
<div class="main" fxLayout="row" fxLayout.lt-md="column">
  <div class="repos" fxFlex>
    <h3>Things I've made.</h3>
    <md-list *ngIf="repoObservable | async as repos; else repoLoading">
      <md-list-item *ngFor="let repo of repos">
        <h4 md-line>{{repo.name}}</h4>
        <p md-line>{{repo.shortenedDescription}}</p>
        <i *ngIf="repo.language">{{repo.language}}</i>
        <a md-icon-button target="_blank" [href]="repo.html_url">
          <md-icon svgIcon="github"></md-icon>
        </a>
      </md-list-item>
    </md-list>
    <ng-template #repoLoading>
      <p class="loading">Loading Things...</p>
    </ng-template>
  </div>
  <div fxFlex>
    <h3>Other thing goes here</h3>
  </div>
</div>
