<div class="bg"></div>
<div class="splash" fxLayout="column" fxLayoutAlign="center center">
  <div class="splash-text">
    <h1>Hello.</h1>
    <p>I'm Asher</p>
  </div>
</div>
<div class="main" fxLayout="row" fxLayout.lt-md="column">
  <div class="repos" fxFlex>
    <h3 class="mat-display-1">Things I've made.</h3>
    <mat-list *ngIf="repoObservable | async as repos; else repoLoading">
      <mat-list-item *ngFor="let repo of repos">
        <h4 mat-line>{{repo.name}}</h4>
        <p mat-line>
          <code class="language" *ngIf="repo.language">{{repo.language}}</code>
          {{repo.shortenedDescription}}
        </p>
        <a mat-icon-button target="_blank" [href]="repo.html_url">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </mat-list-item>
    </mat-list>
    <ng-template #repoLoading>
      <p class="loading">Loading...</p>
    </ng-template>
  </div>
  <div fxFlex>
    <h3 class="mat-display-1">Other things I've made</h3>
    <mat-card *ngFor="let thing of things">
      <img mat-card-image *ngIf="thing.image" [src]="thing.image">
      <mat-card-title>
        {{thing.title}}
      </mat-card-title>
      <mat-card-content>
        <p>{{thing.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <ng-container *ngFor="let action of thing.actions">
          <a mat-button *ngIf="action[2]" [routerLink]="action[1]">{{action[0]}}</a>
          <a mat-button *ngIf="!action[2]" [href]="action[1]">{{action[0]}}</a>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
