@import url('https://fonts.googleapis.com/css?family=Roboto:100');

$splash-background: url("/assets/background.jpg");

.splash{
  height: calc(80vh - 50px);
  padding-top: 10vh;
  text-align: center;
  background: $splash-background left no-repeat;
  background-size: cover;
  color: #FFF;
  font-weight: 100;

  .splash-text{
    margin-top: 1em;
    font-size: 2em;
  }
  h2{
    font-size: 7em;
  }
}

.repos{

  .loading{
    text-align: center;
    margin: 1em auto;
  }
}
