@import url('https://fonts.googleapis.com/css?family=Roboto:100');

$splash-background: url("/assets/background.jpg");

.splash{
  height: 80vh;
  text-align: center;
  background: $splash-background left no-repeat;
  background-size: cover;
  color: #FFF;
  font-weight: 100;

  .splash-text{
    margin-top: 1em;

    h2{
      font-size: 7em;
      margin: 5vh 0;
    }

    p{
      font-size: 2em;
    }
  }
}

.repos{

  .loading{
    text-align: center;
    margin: 1em auto;
  }

  .language{
    font-family: monospace;
  }
}
