@import url('https://fonts.googleapis.com/css?family=Roboto:100');

$splash-background: url("/assets/background.jpg");

.splash{
  height: 70vh;
  text-align: center;
  background: $splash-background left no-repeat;
  background-size: cover;
  color: #FFF;

  .splash-text{
    h1{
      font-size: 7em;
      margin: 5vh 0;
    }

    p{
      margin-top: 2em;
      font-weight: 100;
      font-size: 2em;
    }
  }
}
.main {
  h3 {
    margin: 20px 0;
    text-align: center;
  }
}
.repos{
  .loading{
    text-align: center;
    margin: 200px auto;
  }

  .language{
    font-family: monospace;
  }
}
mat-card {
  margin: 16px;
}
