<footer>
  <a mat-button target="_blank" rel="noopener" href="//twitter.com/asherfoster">
    <!--<mat-icon svgIcon="twitter"></mat-icon>--> <!--Removed due to lack of keybase icon -->
    Twitter
  </a>
  <a mat-button target="_blank" rel="noopener" href="//github.com/asherfoster">
    <!--<mat-icon svgIcon="github-white"></mat-icon>--> <!--Removed due to lack of keybase icon -->
    GitHub
  </a>
  <a mat-button target="_blank" rel="noopener" href="//keybase.io/asherfoster">
    Keybase
  </a>
  <br>
  <h4>
    &copy; Asher Foster 2018 -
    <!-- Time to forget this in 2019 -->
    <a class="source-link" target="_blank" rel="noopener" href="//github.com/asherfoster/asherfoster.github.com">Source</a>
  </h4>
</footer>
