<footer>
  <h4>&copy; Asher Foster 2017</h4>
  <a md-button target="_blank" rel="noopener" href="//twitter.com/asherfoster">
    <!--<md-icon svgIcon="twitter"></md-icon>--> <!--Removed due to lack of keybase icon -->
    Twitter
  </a>
  <a md-button target="_blank" rel="noopener" href="//github.com/asherfoster">
    <!--<md-icon svgIcon="github-white"></md-icon>--> <!--Removed due to lack of keybase icon -->
    GitHub
  </a>
  <a md-button target="_blank" rel="noopener" href="//keybase.io/asherfoster">
    Keybase
  </a>
</footer>
