footer {
    color: #FFF;
    font-family: 'Roboto Mono', 'Courier Sans', monospace;
}
#footer-stripe {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent #058CDC transparent;
    z-index: -2;
}
.footer-text {
    display: flex;
    background: #058CDC;
}
.footer-text * {
    margin: 18px;
}

@media screen and (max-width: 600px) {
    #footer-stripe {
        display: none;
    }

    .footer-text {
        padding-top: 100px;
        z-index: -2;
        flex-direction: column;
        text-align: center;
    }

    .footer-text * {
        margin: 12px;
    }
}
