.footer-text {
    padding: 14px 0;
    display: flex;
}
.footer-text * {
    color: inherit;
    margin: 6px 18px;
}

@media screen and (max-width: 600px) {
    .footer-text {
        flex-direction: column-reverse;
        text-align: center;
    }
}
