@import "../lib/_vars";

.footerText {
    padding: 14px 0;
    display: flex;

    * {
        color: inherit;
        margin: 6px 18px;
    }

    a {
        font-style: italic;
    }
}
.footerDark {
    background: $bg-dark;
    color: $text-dark;
    a {
        color: $link-dark;
    }
}

@media screen and (max-width: 600px) {
    .footerText {
        flex-direction: column-reverse;
        text-align: center;
    }
}
