.heroWrapper {
  display: flex;
  align-items: center;
  height: 350px;
}
.heroText {
  margin: 4em;
  min-width: 30vw;
  flex: 1;
}
.heroImageWrapper {
  max-width: 700px;
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.heroTriangle {
  /* 🌈 T R I G O N O M E T R Y 🌈 */
  background: #222222;
  /* Make it the width of the triangle, and then offset it by half width*/
  height: 100%;
  width: calc(0.23086 * 350px);
  transform: skew(-13deg);
  left: calc(-0.23086 * 350px / 2);
  z-index: 1;
}
.heroImage {
  min-height: calc(6px + 100%);
  min-width: calc(6px + 100%);
  width: 101%;
  z-index: 0;
  position: absolute;
  right: -3px;
  top: -3px;
  object-fit: cover;
  filter: blur(3px) brightness(0.8);
}

@media (prefers-color-scheme: light) {
  .heroImage {
    filter: blur(3px) brightness(1.2);
  }
  .heroTriangle {
    background: #FFF;
  }
}

@media screen and (max-width: 800px) {
  .heroText {
    margin: 6em 0 0 1.5em;
  }
  .heroImageWrapper {
    display: none;
  }
}
