@import "../lib/_vars";

.topSection {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $bg-dark;
  color: $text-dark;
}
.topSection h1 {
  margin: 0;
}
.topSection h2 {
  font-weight: normal;
}

