@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Poppins:500&display=swap');
/* TODO Try using updated out-of-the-box css handling. As of 26-11-19 it was broken */

* {
    position: relative;
}

html {
    background: #222;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    color: #FFF;
    transition: background-color 0.5s, color 0.5s;
}
html, body {
    margin: 0;
    overflow-x: hidden;
}

body:global(.lock-scroll) > div {
    overflow: hidden;
}

:global(.flex) {
    flex: 1;
}
:global(.only-light) {
    display: none;
}

/* ******************** */
/*      Typography      */
/* ******************** */
h1, h2 {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
a {
    color: inherit;
    font-weight: 700;
}
a:hover:not(.link__nohover) {
    text-decoration: none;
}

:global(.button) {
    color: #FFF;
    cursor: pointer;
    border: none;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    text-decoration: none;
    font-size: 24px;
    background: #FF4081;
    padding: 6px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
}
:global(.button__subtle) {
    background: rgba(0,0,0, 0.5);
}
:global(.button__subtle):active {
    background: rgba(0,0,0,0.3);
}

a:global(.link__arrow)::after {
    content: '▸';
    font-style: normal;
    display: inline-block;
    margin-left: 5px;
}

@media screen and (min-width: 600px) {
    :global(.mobile) {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    :global(.desktop) {
        display: none !important;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background: #FFF;
        color: #000;
    }
    :global(.button__subtle) {
        background: rgba(0,0,0,0.1);
        color: #000;
    }
    :global(.only-dark) {
        display: none;
    }
    :global(.only-light) {
        display: block !important;
    }
}
