.errorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.errorImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.errorWrapper h1 {
  margin: 0;
  font-size: 300px;
  line-height: 300px;
  mix-blend-mode: difference;
}
.errorWrapper h2 {
  margin: 0;
  font-size: 70px;
  mix-blend-mode: difference;
}
