.errorWrapper {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.errorImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.errorWrapper h1 {
  font-size: 40vmin;
  mix-blend-mode: difference;
}
.errorInfo {
  position: fixed;
  bottom: 0;
  font-size: 2em;
  margin-bottom: 0.5em;
  mix-blend-mode: difference;
}
