* {
    position: relative;
    color: #FFF;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.flex {
    flex: 1;
}

header {
    position: absolute;
    display: flex;
    width: 100vw;
}
header a {
    padding: 18px;
}

#header-bg {
    z-index: -1;
    background: #169BE9;
    position: absolute;
    width: 100vw;
    height: 55px;
}

a {
    font-family: 'Roboto Mono', 'Courier Sans', monospace;
    color: inherit;
    text-decoration: none;
}

/* STRIPES */

.stripe {
    position: absolute;
    background: #169BE9;
    z-index: -1;
    width: 100vw;
    height: 90vh;
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    transform: skewY(15deg);
}
.stripe-rev {
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
.stripe-triangle {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-style: solid;
}
#stripe-0a {
    top: 55px;
    border-width: 0 100vw calc(200px) 0;
    border-color: transparent #169BE9 transparent transparent;
}
#stripe-1 {

}
/*#stripe-1a {*/
    /*top: 0;*/
    /*left: 0;*/
    /*border-width: 0 0 calc(50vh - 90px) calc(100vw - 300px);*/
    /*border-color: transparent transparent #2CB9FF;*/
/*}*/
/*#stripe-1b {*/
    /*background: #2CB9FF;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*z-index: -1;*/
    /*width: 300px;*/
    /*height: calc(50vh - 90px);*/
/*}*/
/*#stripe-1c {*/
    /*top: calc(50vh + 110px);*/
    /*left: 0;*/
    /*border-width: 206px 100vw 0 0;*/
    /*border-color: #2CB9FF transparent transparent transparent;*/
/*}*/
#stripe-3 {
    height: 700px;
}
#stripe-4 {
    background: #65BFF4;
    height: 700px;
}

.splash-text {
    width: 100vw;
    background: #2CB9FF;
}

.section {
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.section h2 {
    font-family: 'Roboto Mono', 'Courier Sans', monospace;
    font-weight: 500;
    font-size: 48px;
}
.section-text {
    margin: 0 80px;
    max-width: 500px;
}
.section-rev .section-text {
    text-align: right;
}
.section-links {
    display: flex;
    width: 80%;
}
.section-links a {
    flex: 1;
    display: block;
    margin-right: 4px;
}
.section-rev .section-links {
    float: right;
}

#section-1 {
    justify-content: space-around;
    height: 800px;
}
#section-1 .splash-text {
    top: calc(50vh - 90px);
    height: 200px;
    text-align: center;
}

#section-1 h1 {
    margin-top: 0;
    font-size: 60px;
}
#section-2 {
    height: 600px;
}
