.section-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 60px;
  z-index: 1;
}

.section {
  display: flex;
}
#front-end-section {
  justify-content: end;
}
#back-end-section {
  justify-content: space-between;
  align-items: center;
}
.section-backdrop {
  position: absolute;
  object-fit: cover;
  height: 100%;
  right: 0;
}
#front-end-section .section-backdrop {
  width: calc(100vw - 600px);
  left: 0;
}
.section-text-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}
#top-section .section-text-wrapper {
  max-width: calc(100vw - 400px);
  width: calc(50vw + 30px);
  z-index: 1;
}
#front-end-section .section-text-wrapper {
  min-width: calc(600px);
  width: calc(50vw - 30px);
  z-index: 1;
}

#front-end-section .section-text-wrapper {
  text-align: right;
  justify-content: end;
}
.section-text {
  margin-left: 80px;
}
#front-end-section .section-text {
  margin-right: 80px;
}
.section-text h1 {
  margin: 0;
}
.section-text p {
  max-width: 500px;
  margin: 6px 0 30px;
}
.section-links a {
  margin-right: 15px;
}
.slashed-section a, p {
  font-size: 18px;
}
.section-slash {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 150px 0 0;
  border-color: var(--bg-dark) transparent transparent transparent;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,.5));
}
#front-end-section .section-slash {
  border-width: 0 0 100vh 150px;
  border-color: transparent transparent var(--bg-light) transparent;
}
.section-image {
  margin-top: calc(50vh - 300px);
  height: 100vh;
  width: auto;
}
#back-end-section .section-image {
  max-width: 600px;
  height: 100%;
}

.cards {
  display: flex;
  justify-content: space-around;
}
.cards-item {
  text-align: center;
  margin: 60px;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,0.4);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}
.cards-item img {
  opacity: 0.5;
  width: 100px;
}
.cards-item a {
  font-size: 20px;
  display: block;
  margin: 30px 0 10px;
}
@media screen and (max-width: 1000px) {
  .cards-item {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  #top-section .section-slash.mobile {
    margin-top: 200px;
  }
  #front-end-section {
    margin-bottom: 300px;
  }
  #back-end-section {
    background: none;
  }
  .section-slash.mobile {
    border-width: 80px 0 0 100vw;
    border-color: transparent transparent transparent var(--bg-dark);
  }
  #front-end-section .section-slash.mobile {
    bottom: -79px;
    position: absolute;
    border-width: 0 100vw 80px 0;
    border-color: transparent var(--bg-light) transparent transparent;
  }
  #top-section .section-text-wrapper,
  #front-end-section .section-text-wrapper,
  #back-end-section .section-text-wrapper {
    height: 500px;
    width: 100vw;
    max-width: unset;
    min-width: unset !important;
    text-align: left;
    justify-content: center;
  }
  #top-section .section-text-wrapper {
    text-align: center;
    height: 350px;
    max-height: calc(100vh - 280px);
  }
  .section-slashed .section-text, .section-text {
    margin: 0 20px;
  }
  #front-end-section .section-backdrop {
    top: 100%;
  }
  #back-end-section .section-image {
    display: none;
  }
  .section-links a {
    display: block;
  }
  .cards {
    flex-direction: column;
  }
  .cards-item {
    margin: 40px;
  }
}

