* {
    position: relative;
    color: #FFF;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.flex {
    flex: 1;
}

.backdrop, .stripe {
    z-index: -1;
    position: absolute;
    width: 100vw;
}

header {
    position: absolute;
    display: flex;
    width: 100vw;
}
header a {
    padding: 18px;
}

#header-bg {
    background: #169BE9;
    height: 55px;
}

a {
    font-family: 'Roboto Mono', 'Courier Sans', monospace;
    color: inherit;
    text-decoration: none;
}

/* STRIPES */

.stripe {
    background: #169BE9;
    height: 90vh;
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    transform: skewY(15deg);
}
.stripe-rev {
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
#stripe-0 {
    width: 0;
    height: 0;
    top: 55px;
    border-style: solid;
    border-width: 0 100vw 200px 0;
    border-color: transparent #169BE9 transparent transparent;
}
#stripe-1 {
    /* tan(stripe angle) * (50vw  - 300px) */
    /* Math.tan(2 * Math.PI * 15/360) * 300 */
    height: 80vh;
    top: calc(0.2679491924311227 * calc(50vw - 300px));
    background: #2CB9FF;
}
#stripe-2 {
    height: 700px;
}
#stripe-3 {
    background: #65BFF4;
    height: 700px;
}

.splash-text {
    width: 100vw;
}

.section {
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.section h2 {
    font-family: 'Roboto Mono', 'Courier Sans', monospace;
    font-weight: 500;
    font-size: 48px;
    margin-top: 50px;
}
.section-text {
    margin: 0 80px;
    max-width: 500px;
}
.section-rev .section-text {
    text-align: right;
}
.section-links {
    display: flex;
    width: 80%;
}
.section-links a {
    flex: 1;
    display: block;
    margin-right: 4px;
}
.section-rev .section-links {
    float: right;
}

#splash {
    height: calc(100vh - 200px);
}
#splash .splash-text {
    top: calc(50vh - 90px);
    text-align: center;
}
#splash h1 {
    margin-top: 0;
    font-size: 60px;
}

#section-1, #section-2 {
    height: 600px;
}

#section-3 {
    height: auto;
    /*margin-top: 50px;*/
    justify-content: space-around;
    text-align: center;
}

#section-3 .stripe {
    height: 500px;
    top: -120px;
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    transform: skewY(7deg);
}

#section-3 img {
    height: 100px;
}

#section-3 h3 {
    font-weight: 500;
    font-size: 24px;
}

footer {
    margin-top: 290px;
}
/* TODO Change to triangle */
footer .stripe {
    z-index: -2;
    top: -100px;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    transform: skewY(-7deg);
    height: 200px;
    background: #65BFF4;
}

.footer-text {
    display: flex;
    background: #65BFF4;
}

.footer-text * {
    margin: 18px 18px;
}
