.nav {
    z-index: 100;
    width: 100vw;
}
.nav:not(.clear) {
    background: linear-gradient(rgba(34, 34, 34, 0.7) 20%, transparent);
}
.nav.absolute {
    position: absolute;
}
.navList {
    padding: 0;
    margin: 0;
    display: flex;
}

.navList li {
    list-style-type: none;
}
.navList a {
    display: block;
    padding: 0.8em 1em;
    font-size: 18px;
}
.navList a:hover {
    text-decoration: underline;
}

.mobileNavToggle {
    background: #222;
    border-radius: 50%;
    border: none;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}
.mobileNavToggle img {
    display: block;
    height: 24px;
    width: 24px;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .nav {
        position: absolute;
        right: 0;
        text-align: right;
    }
    .nav.mobileNavOpen {
        height: 100vh;
        width: 100vw;
        background: #222222;
    }
    .nav:not(.mobileNavOpen) .navList {
        display: none;
    }
    .navList {
        flex-direction: column;
    }
}

/* Only hide the underline on desktop */
@media screen and (min-width: 600px) {
    .navList a {
        text-decoration: none;
    }
}
@media screen and (prefers-color-scheme: light) {
    .nav:not(.clear) {
        background: linear-gradient(rgba(255, 255, 255, 0.6) 30%, transparent);
    }
    .nav.mobileNavOpen {
        background: #FFF;
    }
}
