<af-title background="/assets/background.jpg">About Me</af-title>
<div class="text">
  <p>
    I write code when I'm bored, based on whatever I'm currently in the mood for. It varies from making full on Discord
    Bots, to creating a terrible version of <a [routerLink]="'/experiments/8'">Minesweeper</a>, because someone was
    playing it, and I thought it would be fun. Not much of my stuff is that useful, but hey, I've learnt lots of random
    things from it. This site, for example:
  </p>
  <ul>
    <li>Is written with Typescript + Angular</li>
    <li>Is built using Travis</li>
    <li>And then automatically deployed to Github Pages</li>
  </ul>
  <p>
    It's surprising what can be done when you're bored out of your mind. If you're still reading this far, you should
    totally hire me. I'm not sure what else to write to pad out this page, so have a list of random things I've done:
  </p>
  <ul>
    <li>
      Written Angular apps, and gotten them auto-deploying to Azure + Github pages with CI! See:
      <a href="//github.com/AsherFoster/asherfoster.github.com">this</a>, Developster (Hit me up on twitter if you want to see source)
    </li>
    <li>Been part of a team working to kickstart young entrepreneurs. See: <a href="//medium.com/Developster-Archive">Developster</a></li>
    <li>Built far too many Discord bots</li>
    <li>Gotten fed up with firewalls, and done <a href="//github.com/AsherFoster/HTTPSProxy">fun things</a> to get around them (Employers love that, right?)</li>
    <li>
      Dabbled with <a href="//github.com/AsherFoster/LineageCheckerWeb">React</a> +
      <a href="//github.com/AsherFoster/LineageCheckerApp">React Native</a>
    </li>
    <li><a (click)="toast('No. Just no.')" href="javascript:void(0)">Messed with</a> wordpress. Never again. Nope.</li>
  </ul>
</div>

